.outer {
  /* text-align: center; */
  display: flex;
  height: 800px;
  /* display: block; */
  /* background-color: black; */
}

.CommitLogBlock {
  position: relative;
  justify-content: end;

  width: 40%;
  height: 90%;
  margin: 2% auto;
  background: rgba(197, 197, 197, 0.65);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ReadmeBackGroundBlock {
  justify-content: flex-start;
  position: relative;
  width: 50%;
  height: 90%;
  margin: 2% auto;
  background: rgba(197, 197, 197, 0.65);
  border-radius: 10px;
  z-index: 0;
}

.CommitLogTitle {
  position: relative;
  width: 80%;
  height: 5%;
  margin: 2% auto;
  background: rgba(22, 65, 148, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #ffffff;
}

.ReadmeUserNameBlock {
  position: relative;
  width: 80%;
  height: 5%;
  margin: 2% auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.CommitLog {
  position: relative;
  width: 80%;
  height: 20%;
  margin: 2% auto;
  background: white;
  border-radius: 10px;
}

.GetMyNewCommitBtn {
  position: relative;
  width: 100px;
  height: 30px;
  margin: 2% auto;
  background: rgba(22, 65, 148, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #ffffff;
}

.AddBtn {
  position: relative;
  width: 100px;
  height: 30px;
  background: rgba(22, 65, 148, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #ffffff;
}

#previewCommitLog {
  height: 80%;
  overflow-y: scroll;
}
